body {
  background: #151123;
  font-family: sans-serif;
  padding: 2rem;
}

.search {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px auto;
}

.search-box {
  padding: 16px;
  font-size: 18px;
  border: 0.5px solid #00000029;
}

button {
  background-color: #ff029e;
  color: #ffffff;
  padding: 16px;
  border: none;
  font-weight: bolder;
  font-size: 18px;
}

button[disabled] {
  opacity: 0.2;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.recipe {
  padding: 20px;
  background: #ffffff;
  min-height: 350px;
  position: relative;
}

.link {
  position: absolute;
  bottom: 20px;
  text-decoration-color: #ff029e;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}
